.vscode/
.gnupg/
.vagrant/
.ssh/
pgp-key.txt
ubuntu-24-04-server.box
ubuntu-24-04-server-ext-storage.box
ubuntu-24-04-server-k8s-ready.box
ubuntu-24-04-server-k8s.box
ubuntu-24-04-server-ansible.box
rhel-86-server-ansible.box
rhel-86-server-ansible-git.box
playbook_pull_test.yml
playbook_push_test.yml
sudoers*
netops*
spectrum
spectrum-setup*
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
